.radio{
    display: flex;
    align-items: center;
    margin-right: 83px;
    &__input{
        margin-right: 13px;
    }

    &__label{
        font-size: 37px;
        letter-spacing: 3.7px;
    }
}