.btn{
    border-radius: 80px;
    border: none;
    font-weight: bold;
    &:active{
        outline: none;
    }

    &:focus{
        outline: none;
    }

    &__small{
        padding: 1.5rem 4rem;
        font-size: 18px;
    }

    &__med{
        padding: 26px 4rem;
        font-size: 23px;
    }

    &__large{
        padding: 27px 100px;
        font-size: 23px;
    }

    &__xl{
        padding: 2rem 5rem;
        font-size: 29px;
    }
}