.list{
    color: white;
    list-style-type: "♪";
    margin-bottom: 38px;
    margin-left: 1.5rem;
    &__item{
        padding-left: 18px;
        font-size: 47px;
        letter-spacing: 4.7px;
    }
}