.review{
    display: flex;
    background: #1FE1E9;
    align-items: center;
    height: 100vh;

    &__speakers{
        display: flex;
        flex: 2;
        flex-direction: column;

        &-top{
            position: relative;
            top: 6rem;
            width: 90%;
        }

        &-bot{
            position: relative;
            left: 5rem;
            bottom: 3rem;
            width: 90%;
        }
    }
    &__wrap{
        display: flex;
        flex-direction: column;
    }

    &__title{
        color: white;
        font-size: 74px; 
        letter-spacing: 7.4px;
        font-weight: bold;
        margin-bottom: 66px;
    }
    &__testimonials{
        display: flex;
    }
}