.header{
    
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    &__logo{
        padding: 2rem;
        display: flex;
        align-items: center;

        &-hb{
            height: 5rem;
            padding-right: 0.5rem;
            z-index: 100;
        }
        &-title{
            font-weight: 100;
            font-size: 2.5rem;
            letter-spacing: 4.8px;
            z-index: 100;
        }
    }

    &__nav{
        position: fixed;
        height: 540px;
        width: 598px;
        top: 0;
        background: black;
        clip-path: circle(260px at 30% 25%);
        -webkit-clip-path: circle(260px at 30% 25%);
        

        &-container{
            display: flex;
            flex-direction: column;
            padding: 7rem 3rem;
            max-width: 100%;
            list-style-type: none;
        }

        &-item{
            font-weight: 500;
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
        }
        
    }
}