.red{
    background: #D34848;
    min-height: 100vh;
    display: flex;
    align-items: center;
    max-width: 100%;
    padding-left: 184px;


    &__wrap{
        display: flex;
        flex-direction: column;
        max-width: 50%;
    }

    &__title{
        font-size: 74px;
        letter-spacing: 7.4px;
        color: white;
        margin-bottom: 1.5rem;
    }

    &__caption{
        font-size: 51px;
        letter-spacing: 5.1px;
        margin-bottom: 41px;
    }

    &__btn{
        align-self: start;
        padding: 27px 100px;
        border: none;
        color: #D34848;
        font-size: 23px;
        letter-spacing: 2.3px;
        border-radius: 70px;

        &:active{
             outline: none;
        }

        &:focus{
            outline: none;
        }

        &:hover{
             cursor: pointer;
        }
    }

    &__speakers{
        display: flex;
        height: 397px;
        width: 254px;

        &-r{
            position: relative;
            bottom: 7rem;
        }
        &-l{
            position: relative;
            top: 7rem;
        }
    }
}